<!DOCTYPE html>
<html>

<head>
    <title> If the blink tag was still supported this would be blinking. </title>
    <style>
        blink {
            color: #2d38be;
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1> Unfortunate Reality</h1>
    <blink> As of version 23, firefox no longer supports the blink tag, so that this is unlikely to blink in any browser. But a few years back, this text would totally have blinked.</blink>

</body>
</html>